<!DOCTYPE html>
<html>
  <head>
    <title>Einzbern.gg</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/fontawesome.css">
    <link rel="stylesheet" href="/stylesheets/brands.css">
    <link rel="stylesheet" href="/stylesheets/solid.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/tinysort.min.js"></script>
    <script src="/javascripts/index.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
  </head>
  <body>
    <div class="spinner-container flex jc-center align-i-center"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
    <div class="flex row header bg-alt">
      <button class="logo" tabindex="1"><span class="kstr">Einzbern.</span><span class="gg">gg</span></button>
    </div>
    <button class="close-btn"><i class="fa fa-long-arrow-left"></i></button>
    <div class="flex col no-wrap notification-panel"></div>
    <div class="flex align-i-center jc-center popup">
      <div class="flex col align-i-center mrg-1em form confirm-form card">
        <p class="confirmation-text"></p>
        <div class="flex row">
          <button class="cancel form-submit btn">Cancel</button>
          <button class="confirm form-submit btn">Submit</button>
        </div>
      </div>
    </div>
    <div class="gizmo test-gizmo">
      <h3 class="title">This is a test gizmo</h3>
      <small>Made to test a few things</small><br>
      <div class="body">
        <div class="flex row align-i-center test-gizmo-btn-panel"></div>
        <div class="flex row test-gizmo-knob-panel switch-panel"></div>
        <div class="flex row wrap mrg-1em test-gizmo-content-container">
        </div>
      </div>
    </div>
    <div class="landing-page-content">
      <div class="flex col align-i-left mrg-1em brd-rad-1em">
        <h2>Hi! I'm Einzbern and this is my website!</h2>
      </div>
      <div class="flex row wrap gizmos-panel bg-alt mrg-1em brd-rad-1em">
        <div class="flex col align-i-center jc-center mrg-1em">
          <small>My projects:</small>
        </div>
      </div>
      <div class="flex row wrap jc-space-ar links-panel bg-alt mrg-1em brd-rad-1em">
        <a class="btn" target="_blank" href="https://twitter.com/_einzbern">                  <img class="img-link" src="" alt="Twitter — twitter.com/_einzbern"></a>
        <a class="btn" target="_blank" href="https://einsbern.tumblr.com/">                   <img class="img-link" src="" alt="Tumblr — einsbern.tumblr.com"></a>
        <a class="btn" target="_blank" href="https://bsky.app/profile/einzbern.bsky.social/"> <img class="img-link" src="" alt="Bluesky — @einzbern.bsky.social"></a>
      </div>
    </div>
    <div class="template">
      <button class="btn template"></button>
      <div class="gizmo template">
        <div class="title"><h3 class="title"></h3></div>
        <div class="body"></div>
      </div>
      <div class="flex row align-i-center mrg-01em switch-btn template"><p class="label"></p><div class="switch-container"><label class="switch"><input type="checkbox"><div class="slider"></div></label></div></div>
      <div class="separator template"></div>
      <div class="flex bg-alt mrg-1em notification template"><p class="mrg-1em notification-text"></p></div>
    </div>
    <div class="flex row wrap jc-space-ar footer bg-main">
      Einzbern.gg © 2023
    </div>
  </body>
</html>